@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
  min-height: 500px;
  background-image: url("");
  background-color: #000000;
  background-size: 50vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: vh;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 100px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 16px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 0px;
  right: px;
}

@media (max-height: 500px) {
  body {
    min-height: 800px;
  }
}

input {
  margin: 4px;
  padding: 6px;
  border-radius: 5px;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom right, #9370db, #da70d6);
}

.resultado {
  color: #ffffff;
  text-align: center;
  margin-top: 16px;
}
